<div class="container mt-4">
  <div class="row" *ngIf="currentWeather">
    <!-- Left column -->
    <div class="col-md-4 order-md-3">
      <app-five-days-forecast [dailyHighestTemp]="dailyHighestTemp"></app-five-days-forecast>
    </div>

    <!-- Middle column -->
    <div class="col-md-4 order-md-1">
      <app-current-weather-card [currentWeather]="currentWeather"></app-current-weather-card>
      <app-hourly-weather-card [hourlyWeatherToday]="hourlyWeatherToday"></app-hourly-weather-card>
    </div>

    <!-- Right column -->
    <div class="col-md-4 order-md-2">
      <app-current-weather-details-card [currentWeather]="currentWeather" [airPollution]="airPollution"></app-current-weather-details-card>
    </div>
  </div>
  <div *ngIf="!currentWeather">
    <div class="hero-section text-center rounded-3">
      <img src="logo.svg" alt="Weather App Logo" class="hero-logo"/>
      <h1 class="hero-title">MyWeather</h1>
      <p class="hero-description">Your ultimate tool for accurate and timely weather updates.</p>
    </div>

    <!-- Instructions Section -->
    <div class="section-padding text-center rounded-3">
      <h2 class="display-4">How to Use</h2>
      <p class="lead">To get started, enter a city name in the search bar at the top.</p>
    </div>

    <!-- Features Section -->
    <div class="section-padding text-center">
      <h2 class="display-4 mb-4">Features</h2>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <i class="bi bi-sun feature-icon"></i>
              <h5 class="card-title mt-2">Current Weather</h5>
              <p class="card-text">View up-to-date temperature, humidity, and conditions.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <i class="bi bi-cloud-rain feature-icon"></i>
              <h5 class="card-title mt-2">Air Pollution</h5>
              <p class="card-text">Access details on air quality and pollution levels.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <i class="bi bi-calendar-day feature-icon"></i>
              <h5 class="card-title mt-2">5-Day Forecast</h5>
              <p class="card-text">Check the weather forecast for the next five days.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card feature-card">
            <div class="card-body text-center">
              <i class="bi bi-clock feature-icon"></i>
              <h5 class="card-title mt-2">Hourly Weather</h5>
              <p class="card-text">See detailed hourly weather data for today.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

