<div class="card text-white bg-dark mb-3" *ngIf="dailyHighestTemp.length > 0">
  <div class="card-body">
    <h5 class="card-title"><i class="bi bi-calendar2"></i> 5-Day Forecast</h5>
    <div class="d-flex flex-column">
      <div *ngFor="let day of dailyHighestTemp" class="d-flex flex-row align-items-center mb-3 forecast-item">
        <div class="forecast-date">
          <h6>{{ (day.dt * 1000) | date: 'EEEE' }}</h6>
        </div>
        <div class="forecast-icon">
          <img [src]="day.weather[0].icon + '.png'" alt="Weather Icon">
        </div>
        <div class="forecast-description">
          <p class="mb-0">{{ day.weather[0].description }}</p>
        </div>
        <div class="forecast-temp">
          <h6>{{ day.main.temp_max }}°C</h6>
        </div>
      </div>
    </div>
  </div>
</div>
