<nav class="navbar navbar-light bg-light py-3" style="background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  <a class="navbar-brand" href="#" style="padding-left: 20px;">
    <img src="logo.svg" width="50" height="50" class="d-inline-block align-top" alt="">
    <span style="font-size: 1.5rem; color: white;">MyWeather</span>
  </a>
  <form class="form-inline mx-auto" style="flex-grow: 1; max-width: 600px; position: relative;">
    <div class="input-group" style="width: 100%;">
      <input
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        (keyup.enter)="onSearchButtonClick()"
        name="searchInput"
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
        style="border-radius: 20px 0 0 20px;"
      >
      <button class="btn btn-outline-success"
              (click)="onSearchButtonClick()"
              type="button"
              style="border-radius: 0 20px 20px 0;">
        Search
      </button>
    </div>
    <div *ngIf="suggestions.length > 0" class="suggestions">
      <div *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)" class="suggestion-item">
        {{ suggestion.name }} ({{ suggestion.state ? suggestion.state + ', ' : '' }}{{ suggestion.country }})
      </div>
    </div>
  </form>
</nav>
